html, body {
  height: 100%;
  margin: 0;
}
  
body {
  background:      black;
  display:         flex;
  flex-direction: column;
  align-items:     center;
  justify-content: center;
}
  
h1{
  color:     red;
  position:  relative;
  font-size: 60px;
}
  
h2{
  color:     #3cdfff;
  position:  relative;
  font-size: 60px;
}

#gameOver {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  visibility: hidden;
}

#gameContainer {
  visibility: visible;
}