html, body {
  height: 100%;
  margin: 0;
}
  
body {
  background:      black;
  display:         flex;
  align-items:     center;
  justify-content: center;
}
  
h1{
  color:     red;
  position:  relative;
  top:       -375px;
  left:      100px;
  font-size: 60px;
}
  
h2{
  color:     #3cdfff;
  position:  relative;
  top:       -500px;
  left:      1100px;
  font-size: 60px;
}
